<!DOCTYPE html>
<html>
<head><%- include('partials/head') %></head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
        <h2 style="text-align:center;">School Gallery</h2>
        <div class="gallery-grid">
            <div class="gallery-item"><img src="/image/sportsday.png" alt="Sports"><p style="text-align:center;">Athletics</p></div>
            <div class="gallery-item"><img src="/image/exhibition.png" alt="Science"><p style="text-align:center;">Science Fair</p></div>
            <div class="gallery-item"><img src="/image/annualday.png" alt="Graduation"><p style="text-align:center;">Graduation</p></div>
            <div class="gallery-item"><img src="/image/teacherday2.png" alt="Faculty day"><p style="text-align:center;">Faculty day </p></div>
            <div class="gallery-item"><img src="/image/mothersday.png" alt="Family day"><p style="text-align:center;">Family ceremony </p></div>
            <div class="gallery-item"><img src="/image/artclass.png" alt="Creative aart class"><p style="text-align:center;">Creative art</p></div>
        </div>
    </div>
    <%- include('partials/footer') %>